.card {
  @media (min-width: $tablet-width) {
    background-color: $color-pale-gray;
  }
}

.card__title {
  font-family: $font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.card__list {
  color: color-dark-gray;
  font-size: 12px;
}
