.card-more__title {
  color: color-almost-black;
  font-family: $font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.card-more__text {
  color: $color-dark-gray;
  font-family: $font-body;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
