.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.contacts__title {
  color: $color-very-dark-gray;
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__text {
  color: $color-dark-gray;
  font-family: $font-body;
  font-size: 14;
  font-weight: 400;
  line-height: 20px;
}
