.group-field {
  padding: 20px 0;
  border: none;
}

.group-field--target {
  padding: 21px;

  @media (min-width: $tablet-width) {
    padding: 25px;
  }
}

.group-field__title {
  margin-bottom: 35px;
  padding: 0;
  display: flex;
  float: left;
  font-family: $font-title;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 2px;
    margin-top: 16px;
    background-color: $color-green;
  }

  span {
    position: relative;
    z-index: 1;
    width: min-content;
    margin-left: -22px;
    background-color: $color-white;
  }

  @media (min-width: tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &::before {
      margin-top: 22px;
    }

    span {
      width: auto;
      margin-left: -42px;
      padding: 0 42px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.group-field__field {
  clear: both;
  width: 100%;
}

.group-field__list {
  padding: 0;
  margin: 0;
  clear: both;
  list-style: none;
}

.group-field__list--contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.group-field__list--additional {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.group-field__item {
  & + & {
    margin-top: 14px;

    @media (min-width: $tablet-width) {
      margin-top: 20px;

      .group-field__list--additional & {
        margin-top: 0;
      }

      .group-field__list--target & {
        margin-top: 13px;
      }
    }

    @media (min-width: desktop-width) {
      .group-field__list--contacts & {
        margin-top: 0;
      }
    }
  }
}
