.instance {
  padding: 20px;
  background-color: $color-middle-gray;
}

.instance__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.instance__text {
  color: $color-dark-gray;
}

.instance__list {
  margin-top: 0;
  margin-bottom: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  text-align: center;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-with) {
    margin-bottom: 60px;
    grid-column: 1 / 2;
    gap: 42px;
  }
}

.instance__essence {
  color: $color-dark-gray;
  font-size: 12px;
  line-height: 18px;
  text-transform: lowercase;
  list-style: none;
}

.instance__definition {
  font-family: $font-title;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  list-style: none;
}

.instance__expenses {
  font-family: $font-title;
  line-height: 20px;
  text-transform: uppercase;
}
